# Localization and keymap (US)
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

# Automatic network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/get_ipaddress string 192.168.124.100 
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 192.168.124.1
d-i netcfg/get_nameservers string 8.8.8.8
d-i netcfg/get_hostname string systemvm
d-i netcfg/get_domain string local

# Debian mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string 

# Account setup (root/toor and user/resu)
d-i passwd/root-password-crypted password password
d-i passwd/root-password-again-crypted password password
d-i passwd/user-fullname string User
d-i passwd/username string sefi
d-i passwd/user-password-crypted password logon1vm
d-i passwd/user-password-again-crypted password logon1vm

# Clock and time zone setup: UTC
d-i clock-setup/utc boolean true
d-i time/zone string UTC

# Partitioning: guided partitioning, everything in the same partition
d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman/choose_partition select finish
d-i partman/confirm write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_nochanges boolean true

# Package selection: just SSH server
tasksel tasksel/first multiselect standard, ssh-server

# Don't participate in the package usage survey
popularity-contest popularity-contest/participate boolean false

# Install the bootloader on /dev/vda
# d-i grub-installer/only_debian boolean true
# d-i grub-installer/with_other_os boolean false
# d-i grub-installer/bootdev string /dev/vda

# Finishing up
d-i finish-install/reboot_in_progress note